.tab
{
	background: $bg_color;
	width: 45%;
	margin: auto;
	border: 1px solid $bg_tab_color;
	@include tab_basic();

	&-nav
	{
		background: $bg_tab_color;

		&-btn
		{
			background: $bg_tab_color;
		}
	}

	&-content
	{
		padding: 20px;
		display: none;
	}

}

